:root {
    --primary-color: #f23740;
    --heading-color: rgb(241, 241, 241);
    --text-color: rgb(32, 32, 32);
    --heading-font: sans-serif, Arial;
    --body-font: Helvetica, Arial;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--text-color);

}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header img{
    width: 100px;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
nav a {
    width: 10px;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px; 
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--heading-color);
}
.hero article {
    position: absolute;
    bottom: 20px;
    width: 95%;
    padding: 16px; 
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: var(--heading-color);
}
.hero article img {
    float: right;
    width: 125px;
}
nav img{
    max-width: 50px;
}
section h2 {
    position: relative;
    top: 20px;
    width: 100%;
    padding: 16px; 
    text-align: center;
    opacity: 0.7;
    background-color: var(--heading-color);
    color: var(--primary-color);
}
